<header class="site-header">
	<div class="container">
		<div class="header-container">
			<section class="heade__logo">
				<img src="images/Logo.png">
			</section>
			<section class="header__info">
				<div class="header__row">
					<h1 class="header__title color-dark">monblanproject</h1>
					<span class="header__start color-blue">Start on <time datetime="2016-02-17">17-02-2016</time></span>
				</div>
				<div class="header__row">
					<span class="header__stats">
						<span class="nova-bold">870 </span>
						posts
					</span>
					<span class="header__stats">
						<span class="nova-bold">11,787 </span>
						followers
					</span>
					<span class="header__stats">
						<span class="nova-bold">112 </span>
						following
					</span>
				</div>
				<div class="date-pick">
					<div class="relative">
						<label for="from">Date
							<input type="text" id="from" name="from" placeholder="from">
							<span class="calendar-ic  bg-grey  btn">
								<img src="images/ic_date.png">
							</span>
						</label>
						<button class="close  bg-grey  btn">
							<img src="images/ic_close.png">
						</button>
						
					</div>
					<div class="relative">
						<label for="to">
							<input type="text" id="to" name="to" placeholder="to">
							<span class="calendar-ic bg-grey btn">
								<img src="images/ic_date.png">
							</span>	
						</label>
						<button class="close bg-grey btn">
							<img src="images/ic_close.png">
						</button>
						
					</div>
				</div>
			</section>
		</div>
	</div>
</header>

<!-- <label сlass="@@class class">@@name</label>
<label сlass="@@class">@@socials.tw</label> -->