<a href="#" class="main__card">
	<img src="images/camera.png" class="main__card-top-btn @@topBtnClass"></img>
	<section class="main__card-img">
		<img src="@@imgUrl" class="img">
	</section>
	<section class="main__stats color-white">
		<div class="main__stats-row">
			<span class="main__stats-col main__stats-day nova17">@@firstDate</span>
			<span class="main__stats-col main__stats-like nova-bold nova17">
				<img class="icon" src="@@firstLikeIconUrl">
				<span>@@firstLike</span>
			</span>
			<span class="main__stats-col main__stats-posts nova-bold nova17">
				<img class="icon" src="@@firstPostIconUrl">
				<span>@@firstPost</span>
			</span>
		</div>
		<div class="main__stats-row">
			<span class="main__stats-col nova17-sb"><time datetime="@@secondDateTime">@@secondDate</time></span>
			<span class="main__stats-col main__stats-like  nova-bold nova17">
				<img class="icon" src="@@secondLikeIconUrl">
				<span>@@secondLike</span>
			</span>
			<span class="main__stats-col main__stats-posts  nova-bold nova17">
				<img class="icon" src="@@secondPostIconUrl">
				<span>@@secondPost</span>
			</span>
		</div>
		<div class="main__stats-row justify-center">
			<span class="main__stats-load">
				<span class="nova17-sb">@@thirdName </span>
				<time class="nova17-sb" datetime="@@thirdDateTime ">@@thirdDate</time>
			</span>
		</div>
	</section>
</a>