.container
	display: flex
	flex-direction: column
.site-top
	box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06)
	position: relative
	z-index: 1
.color-blue
	color: $color-blue
.color-dark
	color: $color-dark
.color-white
	color: $color-white
.color-dark33
	color: $color-dark33 
.relative
	position: relative
.bg-blue
	background: $color-blue
.bg-dark
	background: $color-dark
.bg-white
	background: $color-white
.bg-dark33
	background: $color-dark33
.bg-grey
	background: $color-grey 
.bg-light
	background: $color-light
.nova17
	font-family: "Proxima Nova";
	font-size: 17px
	font-weight: 400
	line-height: 24px
.nova17-sb
	font-family: "ProximaNova-Semibold";
	font-size: 17px
	font-weight: 400
	line-height: 24px
.nova-bold
	font-family: "Proxima Nova"
	font-weight: 700
.justify-center
	justify-content: center
.hide
	display: none
.show
	display: flex
.z-index10
	z-index: 10